{% include 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="/" class="btn btn-outline-dark">Continue Shopping</a>
            <br>
            <table class="table">


                <tr>
                   <!--  <th>
                        <h5>Items:{{ order.get.cart_total }} </h5>
                        
                    </th>
                    <th>
                        <h5>Total: {{ order.get.cart_total }}Rs</h5>
                    </th> -->
                    <th><a href="/checkout/">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
<br>
        <div >
            <div>
                <div >Image</div>
               
                <div >Price</div>
                <div >Quantity</div>
                <div >Total</div>
            </div>
            {% for i in order %}
            <div class="cart-row">
                <div ><img class="row-image" src="{{item.product.url}}" alt=""></div>
                <div >{{i.product.name}}</div>
                <div >{{i.product.price}}Rs</div>
                <div>
                <p class="quantity">{{item.quantity}}</p>
                
                </div>
                <div >{{item.get_total}}RS</div>
            </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}